<div class="center jumbotron">
  <h1>Welcome to Shofi's Sample App</h1>

  <h2>
    This is the home page of my App.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("1.jpg", alt: "Rails logo"),
            'http://www.facebook.com/Shofi9x/' %>